<!DOCTYPE html>
<html>
  <head>
    <title>Landing - Mountain Man's Millstone</title>
    <link rel="stylesheet" th:href="@{/css/Landing.css}">
    <script type="text/javascript" th:src="@{/js/Landing.js}" defer></script>
  </head>
  
  <body class="mainBody">
    <div class="textBox">
      <h1 class="primaryTextCenter">Welcome to Mountain Man's Millstone</h1>
    </div>
    <div class="parallax"></div>
    <div class="textBox">
      <p class="primaryTextCenter" style="font-size:36px">
        <!-- Button to open the modal -->
        <button onclick="document.getElementById('idLog').style.display='block'" class="button">Login</button>
        <button onclick="document.getElementById('idSign').style.display='block'" class="button">Sign Up</button>
        <!-- The Modal (contains the Log In form) -->
        <div id="idLog" class="modal">
          <span onclick="document.getElementById('idLog').style.display='none'" title="Close Modal"></span>
          <form class="modal-content" id="logInForm" action="/login" method="post">
            <div class="textBox">
              <h1 class="primaryTextCenter">Login</h1>
              <p class="primaryTextLeft">Please fill in this form login to your account.</p>
              <hr>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" id="email" name="email" required="required">

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" id="psw" name="psw" required="required">

              <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
              </label>

              <div class="clearfix">
                <button type="submit" class="button" style="background-color: #008000;">Login</button>
                <button type="button" style="background-color: #f44336;" class="formButton">Cancel</button>
              </div>
            </div>
          </form>
        </div>
        <!-- The Modal (contains the Sign Up form) -->
        <div id="idSign" class="modal">
          <span onclick="document.getElementById('idSign').style.display='none'" title="Close Modal"></span>
          <form class="modal-content" id="signUpForm" action="/registerUser" method="post">
            <div class="textBox">
              <h1 class="primaryTextCenter">Sign Up</h1>
              <p class="primaryTextLeft">Please fill in this form to create an account.</p>
              <hr>
              <label for="firstName"><b>First Name</b></label>
              <input type="text" id="firstName" name="firstName" placeholder="Enter First Name" required="required">

              <label for="lastName"><b>Last Name</b></label>
              <input type="text" id="lastName" name="lastName" placeholder="Enter Last Name" required="required">

              <label for="emailSU"><b>Email</b></label>
              <input type="text" id="emailSU" placeholder="Enter Email" name="emailSU" required="required">

              <label for="phoneNum"><b>Phone Number</b></label>
              <input type="text" id="phoneNum" name="phoneNum" placeholder="1234567890" required="required">

              <label for="address"><b>Address</b></label>
              <input type="text" id="address" name="address" placeholder="Enter Address" required="required">

              <label for="pswSU"><b>Password</b></label>
              <input type="password" id="pswSU" placeholder="Enter Password" name="pswSU" required="required">

              <label for="psw-repeat"><b>Repeat Password</b></label>
              <input type="password" id="psw-repeat" placeholder="Repeat Password" name="psw-repeat" required="required">

              <p class="primaryTextCenter">By creating an account you agree to our <a href="#" class="primaryTextCenter" style="color:rgb(12, 55, 99)">Terms & Privacy</a>.</p>

              <div class="clearfix">
                <button type="submit" class="button" style="background-color: #008000;">Sign Up</button>
                <button type="button" style="background-color: #f44336;" class="formButton">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </p>
    </div>
    <div class="parallax"></div>
  </body>

</html>
