<!DOCTYPE html>
<html>
<title>Online HTML Editor</title>
<link rel="stylesheet" href="Senior_Design.css">
<head>
    <div class="textBox">
    	<h1 class="primaryText", align="center">Welcome COORDINATOR NAME</h1>
    </div>
    
</head>

<body class="mainBody">
    <h1 class ="primaryText", align="center">Online HTML Editor</h1>
    <div>This is real time online HTML Editor</div>
    <button class="button">Add Player</button>
    <button class="button">Create Tournament</button>
    <button class="button">Create Ruleset</button>
</body>

</html>