<!DOCTYPE html>
<html>

  <head>
    <title>Tournament Runner - Mountain Man's Millstone</title>
    <link rel="stylesheet" th:href="@{/css/TournamentRunner.css}">
    <script type="text/javascript" th:src="@{/js/TournamentRunner.js}" defer></script>
  </head>

  <body class="parallax" onLoad="preload()">

    <!-- The Modal (contains the tournament selection) -->
    <div id="idSelect" class="modal">
      <div class="centerTextBox">
        <h1 class="primaryTextCenter">Select Tournament to Run</h1>
        <form action="/action_page.php">
          <select name="tournaments" id="tournaments">
            <option value="none">--</option>
          </select>
        </form>
        <br><br>
        <div class="clearfix">
          <button type="button" class="formButton" style="background-color: #008000;" onClick=initializeTournament()>Select</button>
          <br><br>
          <button type="button" style="background-color: #f44336;" class="formButton" onClick="window.location='/CoordinatorTools'">Exit</button>
        </div>
      </div>
    </div>

    <br>
    <div class="textBox" style="width: 95%">
      <h1 id="matchNum" class="primaryTextCenter">--</h1>
    </div>
    <br>

    <br>
    <div class="textBox" style="width: 95%">
      <h1 class="primaryTextCenter">Player Rankings</h1>
      <table style="width:100%">
        <tr>
          <td>Player Status</td>
          <td>Player Name</td>
          <td>Tournament W-L Record</td>
          <td>Stones</td>
          <td>Chips</td>
        </tr>
        <tr>
          <td>Challenger</td>
          <td id="challengerName">--</td>
          <td>1-0</td>
          <td id="challengerStones">4</td>
          <td id="challengerChips">1</td>
        </tr>
        <tr>
          <td>Defender</td>
          <td id="defenderName">--</td>
          <td>0-1</td>
          <td id="defenderStones">5</td>
          <td id="defenderChips">2</td>
        </tr>
      </table>
    </div>
    <br>

    <br>
    <div class="textBox" style="width: 95%">
      <h1 class="primaryTextCenter">Rules</h1>
      <table style="width:100%" id="ruleInfo">
        <tr>
          <td class="primaryTextCenter">Rule Name</td>
          <td class="primaryTextCenter">Rule Value</td>
        </tr>
      </table>
    </div>
    <br>

    <div class="centerTextBox" style="width: 95%">
      <h1 class="primaryTextCenter" id="challengerRecord">-- Match Record</h1>

      <button onclick="roundWinChange(1, 'plus')">Add Score</button>
      <span id="p1Score" class="primaryTextCenter">0</span>
      <button onclick="roundWinChange(1, 'minus')">Subtract Score</button>

      <h1 class="primaryTextCenter" id="defenderRecord">-- Match Record</h1>

      <button onclick="roundWinChange(2, 'plus')">Add Score</button>
      <span id="p2Score" class="primaryTextCenter">0</span>
      <button onclick="roundWinChange(2, 'minus')">Subtract Score</button>

      <form action="/action_page.php">
        <p class="primaryTextCenter">Please select this match's winner:</p>
        <label for="p1" id="p1Label">--</label>
        <input type="radio" id="p1" name="winner" value="player1"><br>
        <label for="p2" id="p2Label">--</label>
        <input type="radio" id="p2" name="winner" value="player2">
      </form>
      <br>
      <button class="formButton">Submit</button>

    </div>
  </body>

</html>
